:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1e293b;
}

.token.comment {
	color: #9daab6;
}

.token.directive {
	color: rgb(135, 191, 108);
}

.token.boolean,
.token.number {
	color: #ff9d3d;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #e36209;
}

.token.variable {
	color: rgb(113, 167, 255);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: rgb(97, 227, 165);
}

.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
