{# {%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %} #}
<h2>Content</h2>
{% for section in toc.sections %}
    <div class="mt-3">{{ section.name }}</div>
    <ul class="pl-3 text-sm">
        {% for p in section.pages %}
            <li style="padding-left: {{ (p.level or 0) * 8 }}px">
                <a href="{{ p.slug }}" class="{% if p.slug === page.url %}text-neutral-200{% endif %}">{{ p.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}