<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/img/sanny.png" />
		
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sanny Builder 4 Tutorial</title>
        <meta name="description" content="Introduction to scripting for Grand Theft Auto: San Andreas using Sanny Builder 4">{#-
                                                                        		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
                                                                        		1. You can add to them using `{% css %}`
                                                                        		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
                                                                        		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
                                                                        		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
                                                                        		#}
        {#- Add an arbitrary string to the bundle #} {%- css %} * { box-sizing: border-box; }
        {% endcss %}
        {#- Add the contents of a file to the bundle #}
        {%- css %}
        {% include "public/css/styles.css" %}
        {% endcss %}
        {#- Or add from node_modules #}
        {# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}
            {#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
        <style>
    {% getBundle "css" %}</style>
        {#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
        {#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
    </head>
    <body>
        <header class="mb-4 bg-slate-800 p-4 text-white">
            <nav class="container flex items-center justify-between">
                <div class="flex items-center">
                    <img src="/img/sanny.png" alt="Sanny Builder" class="mr-4 h-8 w-8"/>
                    <ul class="flex gap-4">
                        <li>
                            <a href="https://sannybuilder.com" target="_blank">Home</a>
                        </li>
                        <li>
                            <a href="https://docs.sannybuilder.com" target="_blank">Documentation</a>
                        </li>
                        <li>
                            <a href="https://library.sannybuilder.com" target="_blank">Library</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="flex gap-4">
                        <li>
                            <a href="https://sannybuilder.com/discord" target="_blank">Discord</a>
                        </li>
                        <li>
                            <a href="https://github.com/sannybuilder/tutorial" target="_blank">GitHub</a>
                        </li>
                        <li>
                            <a href="https://patreon.com/seemann" target="_blank">Patreon</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {# <a href="/" class="home-link">{{ metadata.title }}</a> #}
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <main class="container grow">
            <div class="wrapper">
                <div class="aside aside-1">
                    {% include "sidenav.njk" %}
                </div>
                <article class="main">
                    {{ content | safe }}
                </article>
                <div class="aside aside-2"></div>
            </div>
        </main>
        <footer class="flex flex-wrap justify-center bg-slate-800 p-4 text-white">
            Sanny Builder 4 Tutorial (c) 2024
        </footer>
        <!-- Current page: {{ page.url | htmlBaseUrl }} -->
    </body>
</html>