---
layout: layouts/base.njk
---

{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "public/css/code.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ page.url | pageTitle }}</h1>
{{ content | safe }}
{%- set previousPost = page.url | prevPage %}
{%- set nextPost = page.url | nextPage %}
{%- if nextPost or previousPost %}
    <div class="mb-4 flex justify-between">
        {%- if previousPost %}
            <a class="btn" href={{ previousPost.slug }}>← {{ previousPost.name }}</a>
        {% endif %}
        <span></span>
        {%- if nextPost %}
            <a class="btn" href={{ nextPost.slug }}>{{ nextPost.name }} →</a>
        {% endif %}
    </div>
{%- endif %}